.pageTelBlock{
	display:inline-block;
    box-sizing:content-box;
    width:95%;
	min-height:850px;
    text-overflow:ellipsis;
    margin:15px 0 0 5px;
    padding:10px;
    border-radius:4px;
    font:normal 16px/1 "Times New Roman",Times,serif;
}
