#page{
    width:900px;
    margin:20px auto;
}

.block{
    background-color: #7b8b98;
    margin-bottom:25px;
    padding:30px;
}

.block_main {
    background-color: #7b8b98;
    text-shadow: 1px 1px 0 black;
    padding: 30px; 
}

.block_main p {
    margin: 20px 0 20px 0;
}

h1{
    font-size:30px;
    font-weight:normal;
    position:relative;
}

h2 {
    font-size: 28px;
    font-weight: normal;
}

.rounded{
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
}

.block_footer {
    float: right;
    position: relative;
    padding: 10px; 
    margin-top: 20px;
}

ul { list-style-type: none; }
ul li { padding: 10px 0 10px 0; border-bottom: 1px solid #eee; font-size: 15px; }
.name { font-weight: bold; width: 100px; display: inline-block;}
.date { color: #ccc; font-family: Arial; font-size: 9px; margin-right: 10px; }
.message { font-style: italic; margin-left: 10px; }
.message { width: 300px; }
#message { display:none; margin: 30px 0;}


